<f:if condition="{data.tx_mask_counter_fun}">
 <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="row">
                <f:for each="{data.tx_mask_counter_fun}" as="data_item">
                  <div class="col-lg-4">
                    <div class="counter">
                        <f:if condition="{data_item.tx_mask_number_}">
                          <h2 class="timer count-title count-number" data-to="{data_item.tx_mask_number_}" data-speed="1000"></h2>
                        </f:if>  
                        <f:if condition="{data_item.tx_mask_title_counter_}">
                           <p class="count-text ">{data_item.tx_mask_title_counter_ -> f:format.nl2br()}</p>
                        </f:if>   
                    </div>   
                  </div>
                </f:for>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</f:if>      