<style text/css>
.section-heading p {color: #ee626b; font-size: 15px; text-transform: uppercase; font-weight: 700; margin-bottom: -2px; }
iframe { border:0; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); }
</style>

<div class="contact-page section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
            <f:if condition="{data.bodytext}">  
              <div class="section-heading">
                {data.bodytext -> f:format.html()}
              </div>
            </f:if>  
            <f:if condition="{data.tx_mask_text_info}">
                <p>{data.tx_mask_text_info -> f:format.nl2br()}</p>
            </f:if>
          <div class="row">
             <f:if condition="{data.tx_mask_contact_info}">
                 <f:for each="{data.tx_mask_contact_info}" as="data_item">                    
                    <div class="col-lg-12">
                      <div class="item phone">
                         <f:for each="{data_item.tx_mask_image}" as="file">
                            <f:image image="{file}" style="max-width: 52px;" />
                            {file.description}
                         </f:for>
                        <h6>
                          <f:if condition="{data_item.tx_mask_contact}">
                            {data_item.tx_mask_contact}
                          </f:if>      
                           <br>
                        <span>
                          <f:if condition="{data_item.tx_mask_label}">
                          {data_item.tx_mask_label}
                          </f:if>      
                        </span></h6>
                      </div>
                    </div>  
                 </f:for>   
            </f:if>
          </div>
        </div>
        <div class="col-lg-6">
            <f:if condition="{data.tx_mask_form}">
                <f:for each="{data.tx_mask_form}" as="data_item">
                    <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
                </f:for>
            </f:if>          
        </div>
        <div class="col-lg-12">
          <div id="map">
            <f:if condition="{data.tx_mask_map_iframe}">
                {data.tx_mask_map_iframe -> f:format.raw()} 
            </f:if>
          </div>
        </div>
      </div>
    </div>
  </div>