<div class="main-banner">
    <f:if condition="{data.tx_mask_slider}">
        <div class="owl-carousel owl-banner">

            <f:for each="{data.tx_mask_slider}" as="data_item" iteration="iterator">

                <div class="item item-{iterator.cycle}"
                     style="background-image: url('{f:uri.image(image: data_item.tx_mask_image.0)}');">

                    <div class="header-text">

                        <!-- LOCATION -->
                        <f:alias map="{parts: '{data_item.tx_mask_location -> f:format.raw() -> f:split(separator: \', \', limit: 2)}'}" >
                             <span class="category">
                                {parts.0}, <em>{parts.1}</em>
                             </span>
                         </f:alias>

                        <!-- HEADING -->
                        <f:if condition="{data_item.tx_mask_heading}">
                            <h2>
                                <f:format.html> {data_item.tx_mask_heading} </f:format.html>
                            </h2>
                        </f:if>

                    </div>

                </div>

            </f:for>

        </div>
    </f:if>
</div>