<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->
<f:section name="content">
	<!--TYPO3SEARCH_end-->
	<f:if condition="{news}">
			<f:then>
			  <div class="section properties" id="news-container-{contentObjectData.uid}">
			    <div class="container">
			    	<f:if condition="{categories}">
			    		<f:then>
				    		<ul class="properties-filter">
						        <li>
						         <a class="is_active" href="#!" data-filter="*">Show All</a>
						        </li>
						        <f:for each="{categories}" as="category" iteration="iterator">
							       <li> <a href="#!" data-filter=".{category.title}">{category.title}</a> </li>
							    </f:for>
				            </ul>
				        </f:then>
				        <f:else>
				        	<div class="row">
						        <div class="col-lg-4 offset-lg-4">
						          <div class="section-heading text-center">
						            <h6>{contentObjectData.subheader}</h6>
						            <h2>{contentObjectData.header}</h2>
						          </div>
						        </div>
						    </div>
				        </f:else>    
			    	</f:if>		
					<f:if condition="{settings.hidePagination}">
						<f:then>
							<f:for each="{news}" as="newsItem" iteration="iterator">
								<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</f:for>
						</f:then>
						<f:else>
	                        <f:if condition="{settings.list.paginate.insertAbove}">
	                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
	                        </f:if>
	                        <div class="row properties-box">	
		                        <f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
		                            <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
		                        </f:for>
		                    </div> 
		                    <div class="row">
						        <div class="col-lg-12">   
			                        <f:if condition="{settings.list.paginate.insertBelow}">
			                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
			                        </f:if>
		                        </div>				                        
		                    </div>
						</f:else>
					</f:if>
				    </div>
			    </div>
			</div>
			</f:then>
		<f:else>
			<div class="no-news-found">
				<f:translate key="list_nonewsfound"/>
			</div>
		</f:else>
	</f:if>
	<!--TYPO3SEARCH_begin-->
</f:section>
</html>
